@font-face {
	font-family: "trade-gothic-lt-bold-cond-twenty";
	src: url('/assets/fonts/trade-gothic-lt-bold-cond-twenty/trade-gothic-lt-bold-cond-twenty.eot');
	src: url('/assets/fonts/trade-gothic-lt-bold-cond-twenty/trade-gothic-lt-bold-cond-twenty.eot?#iefix') format('eot'),
		 url('/assets/fonts/trade-gothic-lt-bold-cond-twenty/trade-gothic-lt-bold-cond-twenty.woff') format('woff'),
		 url('/assets/fonts/trade-gothic-lt-bold-cond-twenty/trade-gothic-lt-bold-cond-twenty.ttf') format('truetype'),
		 url('/assets/fonts/trade-gothic-lt-bold-cond-twenty/trade-gothic-lt-bold-cond-twenty.svg#socicon') format('svg');
	font-weight: normal;
	font-style: normal;
}