// ===========================================================
// screen sizes
// ===========================================================

$desktop : 1200px;
$tablet  : 1024px;
$mini 	 : 768px;
$mobile  : 480px;

// ===========================================================
// colours
// ===========================================================

$white : #FFF;
$black : #000;
$lime  : #DAFF6B;
$peach : #F79266;
$aqua  : #BBFFDC;
$grey  : #E2E2E2;