// ========================================
// colours
// ========================================

.bg-white {
	background-color: $white;
}

.bg-black {
	background-color: $black;
}

.bg-lime {
	background-color: $lime;
}

.bg-peach {
	background-color: $peach;
}

.bg-aqua {
	background-color: $aqua;
}

.bg-grey {
	background-color: $grey;
}

// ========================================
// stripes
// ========================================

// .bg-stripes-bluegreen-vert {
// 	background: url(/assets/img/bg-stripes-bluegreen-vert.jpg) 50% no-repeat;
// }

// .bg-stripes-bluegreen-horz {
// 	background: url(/assets/img/bg-stripes-bluegreen-horz.jpg) 50% no-repeat;
// }

// .bg-stripes-blue-vert {
// 	background: url(http://placehold.it/300x300/&text=stripes-blue-vert)
// }

// .bg-stripes-blue-horz {
// 	background: url(http://placehold.it/300x300/&text=stripes-blue-horz)
// }

// .bg-runners-bw {
// 	background: url(http://placehold.it/300x300/&text=runners-bw)
// }