.box {
	position: relative;
	padding: 20px;
	@include breakpoint(mini-mobile) {
	    padding: 10px;
	}
}

.box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-width: 20px;
	margin-left: -20px;
}

.bg-white.box:after {
	border-top-color: $white;
}

.bg-peach.box:after {
	border-top-color: $peach;
}

.bg-aqua.box:after {
	border-top-color: $aqua;
}

.bg-lime.box:after {
	border-top-color: $lime;
}